@page "/bands"
@using MusicAlbumsShop.Shared.DTOs
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject NavigationManager Navigation
@inject IJSRuntime JS

<PageTitle>Bands</PageTitle>

<h1>
    Bands
    <button class="btn btn-primary" @onclick="NavigateToAddEditBand"><i class="bi bi-plus-lg"></i></button>
</h1>

<div class="row">

    <div class="col-auto align-middle">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Organize
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Name ↓</a></li>
                <li><a class="dropdown-item" href="#">Name ↑</a></li>
                <li><a class="dropdown-item" href="#">ID ↓</a></li>
                <li><a class="dropdown-item" href="#">ID ↑</a></li>
            </ul>
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Filter
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Rock</a></li>
            </ul>
        </div>
    </div>
</div>
<section class="p-2 border shadow">


    @foreach (var band in _bands)
    {
        <div class="row">
            <div class="col-auto align-middle">
                <button class="btn btn-primary btn-sm" @onclick="@(() => EditBand(band.BandId))"><i class="bi bi-pen"></i></button>
                <button class="btn btn-primary btn-sm" @onclick="@(() => DeleteBand(band.BandId))"><i class="bi bi-trash"></i></button>
            </div>
            <div class="col-auto align-middle">
                <span class="align-middle">@band.BandId</span>
            </div>
            <div class="col align-middle">
                <span class="align-middle">@band.Name</span>
            </div>
            <div class="col align-middle">
                <span class="align-middle">@band.</span>
            </div>
        </div>
    }
</section>

<script>
    window.showModal = () => {
    const myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'));
    myModal.show();
    };

    window.hideModal = () => {
    const myModal = bootstrap.Modal.getInstance(document.getElementById('staticBackdrop'));
    myModal?.hide();
    };
</script>


@code {
    [Inject]
    private IModalService ModalService { get; set; }
    [Inject]
    private LoadingScreenService LoadingScreenService { get; set; }

    private ApiClientService _apiClientService = new ApiClientService();
    private BandDetails[]? _bands = [];


    protected override async Task OnInitializedAsync()
    {
        ModalService.OnModalChanged += OnModalChanged;
        await GetBands();
    }

    private async void OnModalChanged()
    {
        await InvokeAsync(StateHasChanged);
    }

    private async Task GetBands()
    {
        var result = await _apiClientService.GetBands();

        _bands = result.Value;

        StateHasChanged();
    }

    private void NavigateToAddEditBand()
    {
        Navigation.NavigateTo("bands/addeditband");
    }


    private async Task DeleteBand(int bandId)
    {
        var band = await _apiClientService.GetBandDetails(bandId);

        var confirmation = await ModalService.ShowConfirmation("Delete band", $"Are you sure you want to delete {band?.Value?.Name}?", "Delete", "No");

        if (confirmation)
        {
            LoadingScreenService.ShowAndHide();
            await _apiClientService.DeleteBand(bandId);
            _bands = _bands?.Where(b => b.BandId != bandId).ToArray();
            StateHasChanged();
        }
    }


    private async void EditBand(int bandId)
    {
        var result = await _apiClientService.GetBandDetails(bandId);
        var band = result.Value;

        Navigation.NavigateTo($"bands/addeditband/{band.BandId}");
    }
}
